/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .logo{
    max-height: 45px
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link {
    color: #1F1F1F;
    font-weight: 600
}
.headerfek1subypzu .btn-outline-primary{
    background-color: #234262;
    font-weight: 400;
    padding: 13px 60px
}
.headerfek1subypzu .btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #234262
}
/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/