/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .logo{
    max-height: 45px
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link {
    color: #1F1F1F;
    font-weight: 600
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link:focus, 
.headerfek1subypzu .navbar-light .navbar-nav .nav-link:hover {
    color: #234262
}
.headerfek1subypzu .btn-outline-primary{
    border-radius: 5px;
    background-color: #234262;
    font-weight: 400;
    padding: 13px 60px
}
.headerfek1subypzu .btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #234262
}
/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/

/*****aliyah*****/
/* #aliyah(a8efe356cab990f31) #css starts  */
.abouta8efe356cab990f31{
    padding: 0.5rem 0
}
.abouta8efe356cab990f31 h2{
    font-size: 50px;
    color: #234262
}
.abouta8efe356cab990f31 .stroke{
    background-color: #234262;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-style: italic
}
.abouta8efe356cab990f31 .btndecor{
    border-radius: 5px;
    background-color: #234262;
    padding: 13px 60px;
    border: 1px solid #234262;
    color: #fff
}
.abouta8efe356cab990f31 p{
    font-size: 20px
}
.abouta8efe356cab990f31 .font-weight-bold {
    font-weight: 400!important
}
/* #aliyah(a8efe356cab990f31) #css ends  */
/*****aliyah*****/

/*****fori*****/
/* #fori(foriftgon8pdoif) #css starts */
.foriftgon8pdoif .fdb-block {
    padding: 4.5rem 0
}
.foriftgon8pdoif  h1{
    color: #234262;
    font-size: 32px
 }
 .foriftgon8pdoif h3{
    font-size: 16px;
    margin-top: 15px
    }
/* #fori(foriftgon8pdoif) #css starts */
/*****fori*****/

/*****campbell*****/
/* #campbell(campbelldy9djhgjfg) #css starts */
.campbelldy9djhgjfg h1{
    color: #234262;
    font-size: 32px
}
/* #campbell(campbelldy9djhgjfg) #css starts */
/*****campbell*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc    .fdb-block .fdb-touch {
    border-top: solid 0.3125rem #F8C365
   }
.fayete8bna5e4lc h2 {
    font-size: 20px;
    font-weight: 600
     }
.fayete8bna5e4lc a{
    font-weight: 600;
    color: #234262
}
.fayete8bna5e4lc a:hover{
    color: #234262
}
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/