/*****hectoria*****/
/* #hectoria(headerfek1subypzu) #css starts  */
.headerfek1subypzu .logo{
    max-height: 45px
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link {
    color: #1F1F1F;
    font-weight: 600
}
.headerfek1subypzu .navbar-light .navbar-nav .nav-link:focus, 
.headerfek1subypzu .navbar-light .navbar-nav .nav-link:hover {
    color: #234262
}
.headerfek1subypzu .btn-outline-primary{
    border-radius: 5px;
    background-color: #234262;
    font-weight: 400;
    padding: 13px 60px
}
.headerfek1subypzu .btn-outline-primary:not(:disabled):not(.disabled):active{
    background-color: #234262
}
/* #hectoria(headerfek1subypzu) #css ends  */
/*****hectoria*****/

/*****aliyah*****/
/* #aliyah(a8efe356cab990f31) #css starts  */
.abouta8efe356cab990f31{
    padding: 0.5rem 0
}
.abouta8efe356cab990f31 h2{
    font-size: 50px;
    color: #234262
}
.abouta8efe356cab990f31 .stroke{
    background-color: #234262;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-style: italic
}
.abouta8efe356cab990f31 .btndecor{
    border-radius: 5px;
    background-color: #234262;
    padding: 13px 60px;
    border: 1px solid #234262;
    color: #fff
}
.abouta8efe356cab990f31 p{
    font-size: 20px
}
.abouta8efe356cab990f31 .font-weight-bold {
    font-weight: 400!important
}
/* #aliyah(a8efe356cab990f31) #css ends  */
/*****aliyah*****/

/*****fori*****/
/* #fori(foriftgon8pdoif) #css starts */
.foriftgon8pdoif .fdb-block {
    padding: 4.5rem 0
}
.foriftgon8pdoif  h1{
    color: #234262;
    font-size: 32px
 }
 .foriftgon8pdoif h3{
    font-size: 16px;
    margin-top: 15px
    }
/* #fori(foriftgon8pdoif) #css starts */
/*****fori*****/

/*****campbell*****/
/* #campbell(campbelldy9djhgjfg) #css starts */
.campbelldy9djhgjfg h1{
    color: #234262;
    font-size: 32px
}
/* #campbell(campbelldy9djhgjfg) #css starts */
/*****campbell*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc .fdb-block .fdb-touch {
    border-top: solid 0.3125rem #F8C365
   }
.fayete8bna5e4lc h2 {
    font-size: 16px;
    font-weight: 600
     }
.fayete8bna5e4lc a{
    font-weight: 600;
    color: #234262
}
.fayete8bna5e4lc a:hover{
    color: #234262
}
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****caavo*****/
    /* #caavo(caavoduJuy9P4WAKtH2J) #css starts  */
    .caavoduJuy9P4WAKtH2J .lead{
        font-size: 20px
    }
    .caavoduJuy9P4WAKtH2J strong{
        font-weight: 500
    }
    .caavoduJuy9P4WAKtH2J .fdb-block {
        padding: 4.5rem 0
    }

    .caavoduJuy9P4WAKtH2J .btn-outline-primary{
        border-radius: 5px;
        background-color: #234262;
        padding: 13px 60px;
        border: 1px solid #234262;
        color: #fff
        }

        .caavoduJuy9P4WAKtH2J .btn-outline-primary:hover,
        .caavoduJuy9P4WAKtH2J .btn-outline-primary:not(:disabled):not(.disabled):active{
            background-color: #234262;
            border: 1px solid #234262
        }
    /* #caavo(caavoduJuy9P4WAKtH2J) #css ends  */
/*****caavo*****/

/*****fukra*****/
/* #fukra(fukraft73lhx26hp) #css starts */
.fukraft73lhx26hp .fdb-block {
    padding: 4.5rem 0
 }

 .fukraft73lhx26hp h1{
    font-size: 32px
    }

    .fukraft73lhx26hp .lead{
        font-size: 20px
        }
        .fukraft73lhx26hp h3{
    font-size: 16px
            }
    .fukraft73lhx26hp strong{
        font-weight: 600
        }
/* #fukra(fukraft73lhx26hp) #css starts */
/*****fukra*****/

/*****christina*****/
    /* #christina(christinaco40p743dw4) #css starts  */
    .christinaco40p743dw4 .fdb-block {
        padding: 4.5rem 0
     }

    .christinaco40p743dw4 h1{
        font-size: 32px
    }
    .christinaco40p743dw4 .lead {
        font-size: 20px
    }
    .christinaco40p743dw4 .btn-primary{
        border-radius: 5px;
        background-color: #234262;
        padding: 13px 60px;
        border: 1px solid #234262;
        color: #fff
    }
    .christinaco40p743dw4 .btn-outline-primary:hover,
    .christinaco40p743dw4 .btn-primary:not(:disabled):not(.disabled):active{
            background-color: #234262;
            border: 1px solid #234262
        }
    /* #christina(christinaco40p743dw4) #css ends  */
/*****christina*****/

/*****fabia*****/
/* #fabia(formb6398e2eefdedd99) #css starts */
.formb6398e2eefdedd99 .fdb-block {
    padding: 4.5rem 0
 }

 .formb6398e2eefdedd99 h1 {
      font-size: 32px
    }
    
    .formb6398e2eefdedd99 .lead {
        font-size: 20px;
        font-weight: 400;
    }
     .formb6398e2eefdedd99 .btn-secondary{
    border-radius: 5px;
    background-color: #234262;
    padding: 13px 60px;
    border: 1px solid #234262;
    color: #fff
     }
     .formb6398e2eefdedd99 .btn-secondary:not(:disabled):not(.disabled):active{
        background-color: #234262;
        border: 1px solid #234262
     }
/* #fabia(formb6398e2eefdedd99) #css starts */
/*****fabia*****/

/*****flores*****/
    /* #flores(floresfts2q9glqh3) #css starts */
    .floresfts2q9glqh3 .bg-dark {
        background-color: #234262!important;
     }
    .floresfts2q9glqh3 .fdb-block {
        padding: 1.5rem 0
     }
     .floresfts2q9glqh3 h3 {
        font-size: 32px
     }
     .floresfts2q9glqh3 a {
        color: #F8C365
     }
     .floresfts2q9glqh3 a:hover {
        color: #F8C365
     }
    /* #flores(floresfts2q9glqh3) #css ends */
/*****flores*****/